* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: black;
  font-family: "Bubblegum Sans", cursive;
}

.container {
  padding: 1vh;
  display: flex;
  height: 80vh;
  margin: 2em 0;
  flex-direction: column;
}

.main-title {
  color: white;
  font-size: 3em;
  margin: 1em;
}

.best-score {
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.current-score {
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
    font-weight: bold;

}

.colors-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
  position: relative;
}

.color-button {
  width: 47%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

#color-button-1 {
  background-color: rgb(255, 30, 30);
  border-top-left-radius: 100%;
}

#color-button-2 {
  background-color: green;
  border-top-right-radius: 100%;
}

#color-button-3 {
  background-color: blue;
  border-bottom-left-radius: 100%;
}

#color-button-4 {
  background-color: yellow;
  border-bottom-right-radius: 100%;
}

#color-button-1:active {
  opacity: 0.5;
}
#color-button-2:active {
  opacity: 0.5;
}
#color-button-3:active {
  opacity: 0.5;
}
#color-button-4:active {
  opacity: 0.5;
}

.start-btn {
  background-color: whitesmoke;
  font-size: 2.5em;
  width: 25vh;
  position: absolute;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  align-self: center;
  border: none;
  line-height: normal;
}

.start-btn:active {
  background-color: rgb(154, 154, 154);
}


.change-opacity {
  opacity: 0.35;
  transition: 0.2s;
}