body {
}

.container {
align-items: center;
}

.guessing-div {
    display: flex;
}

.guessing-div p {
    width: 50px;
    padding: 20px;
    border-bottom: solid 4px black;
    margin: 5px;
}

span {
    font-size: 0;
}

.font18 {
    font-size: 18px;
}

.includes-btn {
    background-color: rgb(21, 255, 0);
}

.not-includes-btn {
    background-color: rgb(255, 0, 0);
}

.hangman-img {
    width: 100px;
}

.message-lose, .message-win {
    font-size: 20px;
}

.message-lose {
    color: red;
}

.message-win {
    color: blue;
}

.displayNone {
    display: none;
}