@font-face {
    font-family: Nasa;
    src: url("nasalization-rg.otf")
}

body {
    color: #AC615D;
    text-shadow: 20px 20px solid white;
    text-align: center;
    font-family: Nasa;
    margin: 0px;
}

#title {
    text-shadow: 0px 0px 4px white;
}

.hero {
    background-image: url("images/galaxy.gif");
    background-size: cover;
    padding-bottom: 60px;
    /* height: 200px; */
}

.btn {
    background-color: whitesmoke;
    color: #AC615D;
    font-family: Orbitron;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 20px;
    border: none 4px black;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    cursor: pointer;
    margin-top: 30px;
}

.cta {
    border-bottom: 3px solid whitesmoke;
    padding-bottom: 1px;
}

#logo {
    width: 60px;
    margin-top: 6px;
    filter: box-shadow(30px 10px 40px #4444dd);        /* Similar syntax to box-shadow */
      }